body{
background-color:white;
}
.card{
  width:  200px;
  height: 230px;
  background-image: url('image22.jpg');
  display: inline-block;
  border-radius: 20px;
  padding: 15px 25px 60px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 170px 15px;
    background-position:center;
  background-size: cover;
 color: white;
 text-decoration:none;
 font-family:cursive;
 transition: transform 0.5s;
box-shadow: 2px 2px 20px black;
}
.category{
  font-family:serif;
  margin: 30px;
}
.cate{
  margin: 30px;
    background-image: url('Abract01.png');
    background-repeat: no-repeat;
    background-position: right;

    	font-size: 1.6rem;
    	display: grid;
    	place-items: center;
    	min-height: 200px;
    	border: 8px solid;
    	padding: 1rem;



    	border-image: linear-gradient(to left, turquoise, greenyellow) 1 0;


}
.cate::before{
  border-radius: 20px;
}
.card:hover{
transform: translateY(-10px);
color : white;

}

.border {
	font-size: 1.6rem;
	display: grid;
	place-items: center;
	min-height: 200px;
	border: 8px solid;
	padding: 1rem;
}


.sides {
	border-image: linear-gradient(to left, turquoise, greenyellow) 1 0;
}
